nav {
  /* background-color: blueviolet; */
  display: flex;
  /* margin-left: 100px; */
  gap: 50px;
  /* align-items: center;
  justify-content: center; */
  padding: 30px 30px;

  cursor: pointer;

  a {
    text-decoration: none;
    color: plum;
    font-size: 24px;
    font-weight: 600;
    transition: color 0.3s ease, 
    transform 0.3s ease;
  }

  a:hover {
    color:rgb(196, 91, 196);
    transform: scale(1.1);
  }
}
